.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--tone1);
  height: 12.5vh;
  width: 100vw;
  border-bottom: 3px solid var(--tone6);
}

.imgage-container {
  display: flex;
  justify-content: center;
  margin: -50px 0 0 15px;
}

#nav-logo {
  width: 200px;
  height: 200px;
  margin-left: 50px;
}

.username-logout {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 75px 0 0;
}

.username-logout button {
  margin-bottom: 10px;
}

.username-logout p {
  margin-right: 25px;
  font-weight: 900;
}

.MuiButton-containedPrimary {
  color: var(--tone4) !important;
  background-color: var(--tone2) !important;
  height: 30px;
  width: 100px;
}

.login-button {
  margin-right: 75px;
  margin-top: 40px;
}

.login-button button {
  width: 200px;
}

.all-link {
  display: flex;
  justify-content: center;
  margin: 75px 0 0 400px;
}
