.makeStyles-avatar {
  background-color: var(--tone2) !important;
}

.makeStyles-avatar-18 .makeStyles-avatar-52 .makeStyles-avatar-12 {
  background-color: var(--tone1) !important;
}

.login-link {
  display: flex;
  justify-content: center;
}

.MuiAvatar-root
  .MuiAvatar-circle
  .makeStyles-avatar-root
  .MuiAvatar-colorDefault
  .MuiSvgIcon-root
  .MuiAvatar-fallback {
  background-color: var(--tone1) !important;
}
