.category-title {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.category-cards-container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.category-cards-container a {
  text-decoration: none;
}

.MuiCardContent-root {
  height: 150px;
}

.category-title {
  font-family: "Roboto";
  text-shadow: 2px 1px var(--tone1);
  font-weight: 900;
}
